<template>
  <v-container fluid grid-list-lg>
    <v-layout row wrap>
      <v-flex xs6 sm4 md3 v-for="(flyer, index) in flyers" :key="flyer.id">
        <flyer-card v-bind:flyer="flyer" v-bind:index="index"></flyer-card>
      </v-flex>
      <infinite-loading @infinite="infiniteHandler">
        <span slot="no-more"> no more Flyers   </span>
      </infinite-loading>
    </v-layout>
  </v-container>
</template>

<script>
  import InfiniteLoading from "vue-infinite-loading";
  
  import FlyerCard from "./FlyerCard.vue";
  import {
    getFlyers
  } from "../api/flyers.js";
  const PAGE_FLYERS_LIMIT = 100;
  
  export default {
    name: "FlyersList",
    data() {
      return {
        flyers: [],
        busy: false
      };
    },
    mounted() {
      this.loadFlyers(1, PAGE_FLYERS_LIMIT)
        .then(flyers => {
          this.$store.dispatch("addFlyers", flyers);
          this.flyers = flyers;
        })
        .catch(err => {
          console.log(err);
        });
    },
    methods: {
      loadFlyers: function(page, limit) {
        return new Promise((resolve, reject) => {
          getFlyers(page, limit).then(response => {
            const flyers = response.data.data;
            resolve(flyers);
          });
        });
      },
      infiniteHandler: function($state) {
        this.busy = true;
        const page = this.flyers.length / PAGE_FLYERS_LIMIT + 1;
        console.log(page);
        this.loadFlyers(page, PAGE_FLYERS_LIMIT)
          .then(newFlyers => {
            if (newFlyers.length) {
              this.flyers = this.flyers.concat(newFlyers);
              this.$store.dispatch("addFlyers", newFlyers);
              $state.loaded();
            } else {
              $state.complete();
            }
            this.busy = false;
          })
          .catch(err => {
            alert("Errore durante la ricerca di volantini");
            this.busy = false;
          });
      }
    },
    components: {
      FlyerCard,
      InfiniteLoading
    }
  };
</script>

<style scoped>
  
</style>
