<template>
    <v-card flat tile>
        <v-img height=150 v-bind:lazy-src="`https://picsum.photos/200/300/?random`" class="flyer-image white--text">
    
        </v-img>
        <v-card-title>
            <div>
                <span>{{flyer.retailer}}</span>
                <h3>{{flyer.title}}</h3>
                <span class="grey--text">{{flyer.category}}</span>
            </div>
        </v-card-title>
        <v-card-actions>
            <v-btn @click="manageFavorite(index)">
                <v-icon medium> {{flyer._favorite ? 'favorite' : 'favorite_border'}} </v-icon>
            </v-btn>
    
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "FlyerCard",
        props: ['flyer', 'index'],
        methods: {
            manageFavorite: function(flyerIndex) {
                const flyer = this.$store.getters.getFlyers[flyerIndex];
                if (flyer._favorite == false) {
                    this.addFavorite(flyerIndex);
                } else {
                    this.removeFavorite(flyerIndex);
                }
            },
            addFavorite: function(flyerIndex) {
                this.$store.dispatch('addFavouriteFlyer', flyerIndex);
            },
            removeFavorite: function(flyerIndex) {
                this.$store.dispatch('deleteFavouriteFlyer', flyerIndex);
            }
        }
    };
</script>

<style scoped>
    .flyer-image {}
</style>
