<template>
  <v-list>
    <v-list-tile value="true" v-for="(flyer, i) in favourites" :key="i">
      <v-list-tile-action>
        <v-icon>favorite</v-icon>
      </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title v-text="flyer.title"></v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </v-list>
</template>

<script>
  export default {
    name: "FlyersFavourites",
    computed: {
      favourites: function() {
        return this.$store.getters.getFavouritesFlyers;
      }
    }
  };
</script>

<style scoped>
  
</style>
