<template>
  <v-app>
    <v-navigation-drawer persistent v-model="drawer" app>
      <v-container fluid>
        <v-icon large>favorite</v-icon>
        <h2>Favourites</h2>
        <span>The list of the preferred flyers</span>
      </v-container>
      <hr>
       <FlyersFavourites/>

    </v-navigation-drawer>
    <v-toolbar color="indigo" dark app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
    </v-toolbar>
    <v-content>
      <FlyersList/>
    </v-content>
  
    <v-footer app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  import FlyersList from './components/FlyersList'
  import FlyersFavourites from './components/FlyersFavourites'
  
  export default {
    name: 'App',
    components: {
      FlyersList,
      FlyersFavourites
    },
    data() {
      return {
        drawer: true,
        favourites: [],
        right: true,
        rightDrawer: false,
        title: 'ShopFully'
      }
    }
  }
</script>
