<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico> <link rel=stylesheet href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <title>shopfully</title>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="/css/chunk-vendors.8de862e4.css" >
    <link rel="stylesheet" href="/css/app.1a06fcc3.css">
</head>

<body><noscript><strong>We're sorry but shopfully doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id=shopfully></div>
    <script src="/js/chunk-vendors.44c2658f.js"> </script> <script src="/js/app.037aa53b.js"> </script> </body> </html>